@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@theme {
  --color-primary: #5030E5;
  --color-red: #FB2C2C;
  --color-yellow: #FBB13C;
  --color-grey: #EBEBEB;
  --color-dark-grey: #949494;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-primary-hover: rgba(238,232,255,0.45)
}